<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  
  <title>TravelMate | Travel Recommendations By Friends</title>



<!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/maps.css">
    <link href='https://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>

    <script src="//code.jquery.com/jquery.js"></script>

<!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>-->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpiG5ri7hCsG_yWgjvwt9qfun-OGqLEWc&libraries=places"></script>
   <!-- remember to not push to github with key--> 
   


<!-- APPLICATION SCRIPTS -->  
    <script src="/js/auth_val.js"></script>
    <script src="js/scripts.js"></script>

    <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->

</head>
<body>

<!-- NAV BAR -->
<nav>
    <div class="container-fluid">
              <div id="navbar-inner">
              <a class="navbar-brand"  id="logo" href="#">TRAVEL MATE</a>
              </div>
                  <ul class="nav navbar-nav navbar-right" id="navbar-right">
                      <li><a id="home" class="home" href="/">HOME</a></li>
                      <li><a href="#" class="not-logged-in" id="sign-up-btn" data-toggle="modal" data-target="#sign-up-modal">SIGN UP</a></li>
                      <li><a href="#" class="not-logged-in" id ="login-btn" data-toggle="modal" data-target="#login-modal">LOG IN</a></li>
                      <li><a href="#" class="logged-in" id="greeting" ></a></li>
                      <li><a href="/profile" class="logged-in" id="user-profile" >MY MAP</a></li>
                      <li><a href="#" class="logged-in" id="logout-btn" >LOGOUT</a></li>
                  </ul>
    </div><!-- /.container-fluid -->
  </nav>
          

    <% include partial/map %>      

<% include partial/login %>

</body>

</html>