/* GENERAL
-------------------------------------------------*/
body {
    background-color: white;
    background-size: cover;
    background-position: top;
    font-size: 100%;
    font-family: 'Didact Gothic', sans-serif;    
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    line-height: 1.5;
}



header {
    width: 100%;
    height: auto;
    position: fixed;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
    border-bottom: thin solid #ededed;
}

header #header-inner {
    width: 80%;
    margin: 0 auto;
}

header #logo {
    float: left;
    width: auto;
    display: block;
    margin: 8px 0;
}

header #logo > a {
    text-decoration: none;
    display: inline-block;
    padding: 7px 0;
    color: #434a54;
    text-transform: uppercase;
    letter-spacing: .8px;
    word-spacing: 3px;
    font-size: 2em;
}

header ul {
    float: right;
    padding: 0;
    margin: 10px 0;
}

header li {
    list-style-type: none;
    display: inline-block;
    padding-left: 5px;
}

/*nav home*/
header li > a[id="home"] {
    text-decoration: none;
    display: block;
    font-size: 1.3em;
    color: #666;
    padding: 7px 10px;
    transition: all .1s;
    font-family: 'Didact Gothic', sans-serif;
}

header li > span.visible {
    padding: 10px 5px;
    margin: 0 auto;
}



/* SEARCH
-------------------------------------------------*/
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}




/* LOGIN
-------------------------------------------------*/
/*nav log-in*/


header li > a[id="log-in"] {
    text-decoration: none;
    display: block;
    font-size: 1.3em;
    border-radius: .2em;
    border-color: #1d97ec;
    color: #1d97ec;
    padding: 7px 10px;
    transition: all .1s;
    font-family: 'Didact Gothic', sans-serif;
    border-radius: 5px;
    border-style: solid;
    border-width: 1.8px;
    cursor: auto; 
}

/*log-in-view*/
header li > span.visible {
  display: block;
}

/*log-in-box*/
header li > [id="log-in-menu"] {
    width: auto;
    height: auto;
    position: absolute;
    background: #fff;
    border: thin solid #ededed;
    border-radius: .2em;
    top: 55px;
    z-index: 3;
    text-align: center;
    display: none;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


/*login signup button*/
header li > span input { 
    padding: 5px 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: .2em;
    border: thin solid #ededed;
    outline: none;
    font-size: 1.3em;
    color: #666;
    display: block;
    transition: all .15s;
}

/*login button-submit-size*/
header li > span .log-in-submit{
    width: 100%;
    display: inline-block;
    background: #f9f9f9;
    border-top: thin solid #ededed;
}


/*login button-submit-color*/
header li > span input[type=submit].log-in-submit {
    margin-bottom: 0;
    width: 100%;
    background-color: #1d97ec;
    color: #fff;
    font-size: 1.3em;
    vertical-align: baseline;
    float: left;
    border-radius: .3em;
}

/*login button-submit-glow*/
header li > span input[type=submit].log-in-submit:hover {
    -webkit-box-shadow: 0 0 0 1px #1d97ec;
}

/*arrow*/
/*header span .arrow-up {
    width: 0; 
    height: 0;
    position: absolute;
    top: -12px;
    right: 87px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #ededed;
}*/

/*arrow*/
/*header span .arrow-up-top {
    width: 0; 
    height: 0;
    position: absolute;
    top: -11px;
    right: 88px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #fff;
}*/

/* LOGOUT
-------------------------------------------------*/

#greeting, #user-profile, #logout-btn {
    text-decoration: none;
    display: block;
    font-size: 1.3em;
    color: #666;
    padding: 7px 10px;
    transition: all .1s;
    font-family: 'Didact Gothic', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    line-height: 1.5;
}    


/* SIGNUP 
-------------------------------------------------*/
/*nav sign-up*/
header li > a[id="sign-up"] {
    text-decoration: none;
    display: block;
    font-size: 1.3em;
    border-radius: .2em;
    border-color: rgb(226, 97, 68);
    color: rgb(226, 97, 68);
    padding: 7px 10px;
    transition: all .1s;
    font-family: 'Didact Gothic', sans-serif;
    border-radius: 5px;
    border-style: solid;
    border-width: 1.8px;
    cursor: auto;
}

/*sign-up-view*/
header li > span.visible {
  display: block;
}

/*sign-up-box*/
header li >[id="sign-up-menu"] {
    width: auto;
    height: auto;
    position: absolute;
    background: #fff;
    border: thin solid #ededed;
    border-radius: .2em;
    top: 55px;
    z-index: 4;
    text-align: center;
    display: none;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


/*signup button-submit-size*/
header li > span .sign-up-submit{
    width: 100%;
    display: inline-block;
    background: #f9f9f9;
    border-top: thin solid #ededed;
}


/*signup button-submit-color*/
header li > span input[type=submit].sign-up-submit {
    margin-bottom: 0;
   /* width: 100%;*/
    background-color: #e26144;
    color: #fff;
    font-size: 1.3em;
    vertical-align: baseline;
    float: left;
    border-radius: .3em;
}

/*signup button-submit-glow*/
header li > span input[type=submit].sign-up-submit:hover {
    -webkit-box-shadow: 0 0 0 1px #e26144;

input[class=form-control] {
    font-size: 1.2em;
    font-family: 'Didact Gothic', sans-serif;
}





/*header li > span input:focus {
    background: #f9f9f9;
    color: #ccc;
}*/

/*input[type=checkbox].css-checkbox {
    display:none;
 }

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:21px;
    float: left;
    height:12px;
    width: 100%;
    margin-bottom: 10px;
    display:inline-block;
    line-height:12px;
    background-repeat:no-repeat;
    background-position: 0 0;
    vertical-align:middle;
    cursor:pointer;
    font-size: 1.2em;
    color: #666;
    text-align: left;
}*/



/*label.css-label {
    background-size: 12px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/

/*#content {
    width: 49%;
    height: auto;
    margin: 0 auto;
    margin-top: 80px;
}

#content .post {
    margin-bottom: 20px;
    width: 100%;
    height: 300px;
    background: #fff;
    border: thin solid #ededed;
    border-radius: .2em;
}*/