
  <li><a id="log-in" href="#">LOG IN</a>
  <span id="log-in-menu">
    <div class="arrow-up"></div>
    <div class="arrow-up-top"></div>
    
    <form id="log-in-form" method="POST" action="/sessions">
    <div class="form-group">
      <input type="text" name="username" class="form-control" placeholder="USERNAME" autofocus>
      <input type="password" name="password" class="form-control"  placeholder="PASSWORD" autofocus>
      <!-- <input type="checkbox" name="checkboxG1" id="checkboxG1" class="css-checkbox">
        <label for="checkboxG1" class="css-label">REMEMBER ME</label> -->
    </div>
    <div class="log-in-submit">
      <input type="submit" class="log-in-submit" value="LOG IN">
    </div>
  </span>
  </li>

     