<!DOCTYPE html> 

  
            <li><a id="sign-up" href="#">SIGN UP</a>
              <span id="sign-up-menu">
                <div class="arrow-up"></div>
                <div class="arrow-up-top"></div>
                
                <form id="sign-up-form" class="sign-up" method="POST" action="/users">
                <div class="form-group">
                  <input type="text" name= "firstname" class="form-control" placeholder="FIRST NAME" autofocus>
                  <input type="text" name= "lastname" class="form-control" placeholder="LAST NAME" autofocus>
                   <input type="text" name= "username" class="form-control" placeholder="USER NAME" autofocus>
                  <input type="text" name= "email" class="form-control" placeholder="EMAIL" autofocus>
                  <input type="password" name= "password" class="form-control" placeholder="PASSWORD" autofocus>

                  <!-- <input type="checkbox" name="checkboxG1" id="checkboxG1" class="css-checkbox">
                    <label for="checkboxG1" class="css-label">REMEMBER ME</label> -->
                </div>
                <div class="sign-up-submit">
                  <input type="submit" class="sign-up-submit" value="SIGN UP">
                </div>
              </span>
            </li>

    









